.navbar{
    background-color: #222222;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow',Arial,sans-serif;
    font-weight: 700;
}
.navbar a{
    color: #ffffff !important;
    opacity: 0.7;
}
.navbar a:hover{
    opacity: 1;
    background-color: #111 !important;
}

   /*header*/
.header{
    margin-top: 50px;
    width:100%;
    height:600px;
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.header img{
    height: 350px;
    width:450px;
    margin: 70px 0 0 40px;
}
.header h1{
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
}
.header h1,
.header p,
.header button{
    margin-top:20px;
}
.header .btn{
    border-radius:0;
    margin: 40px 20px;
}

@media(max-width: 768px){
    .header{
        height: 700px;
        padding: 30px;
    }
    .header img{
        height: 200px;
        width:100%;

    }
    .header .btn{
        font-size: 10px;
        margin-left: 20px;
    }
    .header h1{
        font-size: 20px;
    }
    .header p{
        font-size: 10px;
    }

}

   /*Services*/
.services{
    text-align: center;
    padding: 80px 0 80px;
}
.services h1,
.services h4{
    color: #4c4c4c4c;
    margin: 20px 0 20px;
}
.services p{
    color:#737373;
    font-size: 14px;
    padding-bottom: 40px;
}
.services i{
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: deepskyblue;
    width: 85px;
    height: 85px;
    color: #fff;
}
@media(max-width: 768px){
    .services{
        padding: 30px;
    }
}
.pricing{
    background-color: #3399ff;
    text-align: center;
    padding: 50px 0 80px;
}
.pricing h2,
.pricing p{
    color:#ffffff;
}
.pricing p{
    padding-bottom: 40px;
}
.pricing .packages {
    border: 1px solid gray;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.packages li{
    display: block;
    padding: 5px;
}
.packages h1,
.packages h4,
.packages b{
    color: #4c4c4c;
}
.packages p,
.packages li{
    color: #737373;
}
.packages button{
    margin-top: 10px;
}
@media(max-width: 768px) {
    .pricing{
        padding: 30px;
    }
    .packages{
        width:80%;
        margin-left: 25px;
    }
}

   /*Team*/

.team img{
    height: 200px;
    width:200px;
}
.team{
    text-align: center;
    padding: 50px 0 80px;
}
.team h2,
.team h4,
.team b{
    margin: 20px 0 20px;
    color:#4c4c4c;
}
.team p{
    color:#737373;
}
.team i{
    height:30px;
    width: 30px;
    padding:5px;
    font-size: 17px;
    border-radius:50%;
    background-color: #4cae4c;
    color: #ffffff;
}
.team a:hover i{
    background-color: #777777;
}

/*clients*/

.clients{
    padding:50px 0 80px;
    background-color: #3399ff;
    text-align: center;
    color: #ffffff;
}
.clients h2{
    color: #5e5e5e;
}
.clients p{
    padding-bottom: 40px;
}
.clients img{
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin:40px 0;
    transition: all 500ms ease-in-out;
}
.clients li:hover img{
    opacity:1;
}
.clients li{
    list-style: none;
}

/*Contact*/

.contact{
    padding: 50px 0 80px;
    text-align: center;
}
.contact p{
    padding-bottom: 80px;
    color: #737373;
}
.contact h2{
    color: #4c4c4c;
    margin:20px 0 20px;
}
.contact .input-group{
    margin-bottom: 25px;
}
.contact .form-control{
    border-radius: 0 !important;
}
.contact span{
    border-radius: 0 !important;
}
.contact .btn{
    width:100%;
    border-radius: 0;
    background-color: #f08080;
    color: #ffffff;
}
.contact .btn:hover{
    background-color: #a85959;
    color: #ffffff !important;
}
.footer{
    padding:30px;
    color:#cccccc;
    background-color: #222222;
}
.footer .social{
    height: 30px;
    width:30px;
    border: 1px solid #cccccc;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
}
.footer input{
    color: #000000;
    background-color: #ccc;
    border: none;
    padding: 5px;
    height: 40px;
    width: 160px;
}
.footer .btn{
    padding: 14px 70px -1px 3px;

    /*padding:10px 0 0 10px;*/
    margin:-3px 0 0 5px;
}